<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>
  <div class="container" style="padding:100px 200px; ">
    <h1>Login</h1>
    <!-- 로그인에 실패했을 때 -->
    {% if error %}
    <!-- error 나타내는 코드: views.py에서 error message 설정해줘야 함-->
    {{error}}
    {% endif %}
    <form method="POST" action="{% url 'login' %}">
      {% csrf_token %}
      Username:
      <br>
      <input name="username" type="text" value="">
      <br>
      Password:
      <br>
      <input name="password" type="password" value="">
      <br>
      <br>
      <input class="btn btn-primary" type="submit" value="Login">
    </form>
  </div>
</body>

</html>